
/* scroll bar always visible (applies to both session div and whole page) */
/* does not work for firefox */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
}

#welcome-imgs{

}

#welcome-imgs img{
  width: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#img-wash{
  left: 10%;
}

#img-neu{
  left: 20%;
}

#welcome{
  display: block;
  font-size: 14px;
}

#welcome-imgs, #welcome{
  padding-left: 40px;
  padding-right: 40px;
}

#welcome-imgs, #welcome, #audio, #rating, #selection{
  margin-top: 60px;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
}

#welcome-header{
  margin-bottom: 20px;
}

#welcome-p-last{
  margin-bottom: 50px;
}

#audio{
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
}

#progress-0{
  width: 90%;
}

.rating-container{
  padding-top: 40px;
}

.rating-div{
 line-height: 120px;
}

.form-rating{
  display: inline-block;
  padding: 20px;
  line-height: normal;
  text-align: center;
}

.form-rating label{
  display: block;
}

.form-rating input[type=radio]{
  margin-bottom: 5px;
}

.form-rating label, .label-end{
  color: LightGrey;
}

#label-1{
  width: 250px;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  margin-top: -10px;
}

#label-7{
  width: 380px;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  margin-top: -10px;
}

/* #rating-val{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

#number-rating{
  font-size: 40px;
  font-weight: bolder;
  width: 100px;
  height: 75px;
  padding-left: 10px;
}

#number-rating:focus{
  outline: 0;
} */

.btn{
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 20px;
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-next{
  width: 100px;
}

#btn-to-survey{
  margin-top: 40px;
}

.hidden{
  display: none;
}

#header{
  height: 60px;
  padding-left: 40px;
  padding-right: 100px;
  padding-top: 20px;
  border: none;
  border-bottom: 2px solid #EEEEEE;
}

.header-text{
  color: #999999;
  font-size: 12px;
  letter-spacing: 1px;
}

h6{
  font-size: 14px;
  font-weight: bold;
}

#content{
  padding-top: 40px;
}

.textScore{
  font-size: 14px;
}

.textCounts{
  font-size: 14px;
}

.rect-background{
  fill: #EEEEEE;
}

#userScore{
  fill: #b29ec3;
}

#mlScore, #scoreChangeNeg{
  fill: #19ABB5;
}

.rect-open, .rect-complex{
  fill: #19ABB5;
}

.rect-close, .rect-simple{
  fill: #EEEEEE;
}

.confidence-label{
  font-size: 10px;
  text-anchor: middle;
}

.labels-lines{
  stroke: #333333;
  stroke-width: 1px;
}

.labels-text{
  text-anchor: middle;
  font-size: 10px;
}

#container-session{
  height: 520px;
  margin-top: 30px;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

#session-list, #session-list-1{
  list-style: none;
  padding-left: 0px;
}

#session-list-1{
  margin-top: 20px;
  padding-left: 20px;
}

.session-div{
  font-size: 10px;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

.client-div{
  font-weight: normal;
  color: #999999;
  margin-left: 20px;
}

.in-scope{
  font-weight: bold;
}

#btn-form{
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: bold;
}

#modal-next{
  display: none;
}

/* MODAL STYLE */

/* #modal-btn{
  position: absolute;
  margin-left: 20px;
  margin-top: 6px;
  margin-bottom: 0px;
  cursor: pointer;
  background-color: white;
  border: none;
} */

#modal-content-btn{
  text-align: center;
  margin: auto;
  margin-top: 40px;
  width: 80px;
}

.modal{
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.5);
}

.modal-content{
  width: 50%;
  margin: 10% auto;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,.5);
}

/* #modal-next .modal-content{
  margin: 30% auto;
} */

.modal-body{
  padding: 20px;
}

/* VARIATION DESCRIPTIONS */

#desc-aboutAlg{
  font-size: 12px;
  margin-top: 30px
}

#desc-counts, #desc-similar{
  font-size: 12px;
  margin-top: 20px;
}

/* SIMILAR SESSIONS */

/* .accordion{
  cursor: pointer;
  width: 500px;
  height: 50px;
  background-color: white;
  font-size: 10px;
  text-align: left;
  padding-left: 20px;
  border: none;
  border-top: 1px solid black;
} */

.bold{
  font-weight: bold;
}

.icon{
  margin-right: 10px;
}

.audio-controls{
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
}

.btn-play, .btn-pause, .btn-stop{
  cursor: pointer;
  border: none;
  background: white;
}

button:focus{
  outline: 0;
}

/* INFLUENTIAL N-GRAMS */

#btn-group{
  display: block;
}

#btn-reset, #btn-positive, #btn-negative{
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 10px;
  margin-top: 20px;
  margin-right: 5px;
}

#btn-positive{
  color: #70B276;
  background-color: white;
  /* border: 1px solid #19ABB5; */
  border: 1px solid #70B276;
}

#btn-negative{
  color: #CC6471;
  background-color: white;
  border: 1px solid #CC6471;
}

#btn-reset{
  background-color: white;
  border: 1px solid black;
}

.text-influence-pos, .pos, .text-change-pos{
  font-weight: bolder;
  color: #70B276;
}

.text-influence-neg, .neg, .text-change-neg{
  font-weight: bolder;
  color: #CC6471;
}

.striked-pos, .striked-neg{
  text-decoration: line-through;
  /* margin-right: 5px; */
}

ul {
  padding-left: 0px;
  list-style-type: none;
  font-size: 10px;
  line-height: 1.3;
}

li {
  margin-bottom: 4px;
}

/* MANIPULATION */
.striked-open, .striked-complex{
  text-decoration: line-through;
  /* font-weight: bolder; */
  color: #CC6471;
}

.text-change-open, .text-change-complex{
  margin-left: 5px;
}

#manipulation-tracking{
  position: absolute;
  width: 14px;
  right: 0px;
}

.rect-change{
  fill: #CC6471;
}

/* SLIDER STYLE */

/* style stripped */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Handle */
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #19ABB5;
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: rgba(0,0,0,.5);
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 1px 1px rgba(0,0,0,.5);
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #19ABB5;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 0px 1px 1px rgba(0,0,0,.5);
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #19ABB5;
  cursor: pointer;
}

/* track */

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  border-radius: 5px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #EEEEEE;
  border-radius: 5px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #19ABB5;
  border-radius: 5px;
}

input[type=range]::-moz-range-progress {
  background-color: #19ABB5;
  height: 10px;
  border-radius: 5px;
}
